.vscode/**
.vscode-test/**
out/**
src/**
dist/**/*.map
.gitignore
tsconfig.json
tslint.json
**/**.vsix
.github/**
images/*.gif
scripts
javaext/**
.azure-pipelines/**
javaConfig.json
node_modules
webpack.config.js
.DS_Store

# Ignore output of code sign
plugins/*.md
**/*.log