<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target name="JDTLS.EXT" sequenceNumber="39">
    <locations>
        <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.apache.commons.io" version="2.2.0.v201405211200"/>
            <unit id="org.apache.commons.lang3" version="3.1.0.v201403281430"/>
            <repository location="https://download.eclipse.org/tools/orbit/R-builds/R20200529191137/repository"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.buildship.feature.group" version="0.0.0"/>
            <repository location="https://download.eclipse.org/buildship/updates/latest-snapshot/"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.m2e.jdt" version="0.0.0"/>
            <unit id="org.eclipse.m2e.apt.core" version="0.0.0"/>
            <unit id="org.eclipse.m2e.core" version="0.0.0"/>
            <unit id="org.eclipse.m2e.maven.runtime" version="0.0.0"/>
            <unit id="org.eclipse.m2e.workspace.cli" version="0.0.0"/>
            <unit id="ch.qos.logback.classic" version="0.0.0"/>
            <repository location="https://download.eclipse.org/technology/m2e/releases/2.6.0/"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.equinox.core.feature.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.equinox.core.sdk.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.equinox.p2.core.feature.source.feature.group" version="0.0.0"/>
            <unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
            <unit id="org.mockito.mockito-core" version="0.0.0"/>
            <unit id="org.apache.commons.commons-io" version="0.0.0"/>
            <unit id="org.eclipse.jdt.apt.pluggable.core" version="0.0.0"/>
            <repository location="https://download.eclipse.org/eclipse/updates/4.31/"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.xtext.xbase.lib" version="0.0.0"/>
            <repository location="https://download.eclipse.org/releases/2024-03/"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
           <repository location="https://download.eclipse.org/lsp4j/updates/releases/0.22.0/"/>
           <unit id="org.eclipse.lsp4j" version="0.0.0"/>
        </location>
        <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.jdt.ls.core" version="0.0.0"/>
            <repository location="https://download.eclipse.org/jdtls/snapshots/repository/latest/"/>
        </location>
    </locations>
</target>
